{% extends "base.html" %}
{% block content %}
<div class="modal fade" id="afineModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Створити шестикутник</h3><br>
        <p><b>Зверніть увагу!</b> Шестикутник відмальовується за центром та першою вершиною. Кожна наступна вершина відкладається на 60 градусів по годинниковій осі.</p>
      </div>
      <form method="POST" id="hidden_form">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-sm-6">
              <label for="top_x">Максимальний X</label>
              <input class="form-control" id="max_x" name="max_x" type="number" step="0.01" required max="10000000" min="-10000000" >
              <span style="margin-bottom: 0px; height: 10px;  position: absolute"  class="error" ></span>
            </div>
            <div class="form-group col-sm-6">
              <label for="top_x">Максимальний Y</label>
              <input class="form-control" id="max_y" name="max_y" type="number" step="0.01" required max="10000000" min="-10000000">
              <span style="margin-bottom: 0px; height: 10px;  position: absolute"  class="error" ></span>
            </div>
            <div class="form-group col-sm-6" style="margin-top: 25px;">
              <label for="center_x">X центру шестикутника</label>
              <input class="form-control" id="center_x" name="center_x" type="number" step="0.01" required max="10000000" min="-10000000">
              <span style="margin-bottom: 0px; height: 10px;  position: absolute"  class="error" ></span>
            </div>
            <div class="form-group col-sm-6" style="margin-top: 25px;">
              <label for="center_y">Y центру шестикутника</label>
              <input class="form-control" id="center_y" name="center_y" type="number" step="0.01" required max="10000000" min="-10000000">
              <span style="margin-bottom: 0px; height: 10px;  position: absolute"  class="error" ></span>
            </div>
          </div>
          <div class="form-row">

            <div class="form-group col-sm-6" style="margin-top: 25px;">
              <label for="top_x">X вершини</label>
              <input class="form-control" id="top_x" name="top_x" type="number" step="0.01" required max="10000000" min="-10000000">
              <span style="margin-bottom: 0px; height: 10px;  position: absolute"  class="error" ></span>
            </div>
            <div class="form-group col-sm-6" style="margin-top: 25px;">
              <label for="top_y">Y вершини</label>
              <input class="form-control" id="top_y" name="top_y" type="number" step="0.01" required max="10000000" min="-10000000">
              <span style="margin-bottom: 0px; height: 10px;  position: absolute"  class="error" ></span>
            </div>
          </div>
          <div class="form-group col-sm-12"  style="margin-top: 25px;">
            <select class="form-control" id="vertice-check" name="type" >
              <option value="1">Обертання навколо вершини</option>
              <option value="0">Обертання навколо центру</option>
            </select>
          </div>
          <div class="form-group col-sm-12" id="tops_list">
            <label for="vertice-option">Вершина повороту</label>
            <select class="form-control" id="vertice-option" name="top">
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
              <option value="F">F</option>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <input type="submit" value="Продовжити" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>

</div>
<style>

 
    #myCanvas
    {
        margin-left:150px ;
        
        background:transparent;
    }
    #CanvasMock
    {
        opacity:0.5;
        margin-left:150px ;
       
    }
   
    
</style>

<div id="box" class="jxgbox" style="width:500px; height:500px; margin-left:500px ;"></div>

<script type="text/javascript">
 var b = JXG.JSXGraph.initBoard('box', {boundingbox: [-{{max_x}}, -{{max_y}}, {{max_x}}, {{max_y}}], axis:true, grid:true});
</script>
<script>
   
   
    let verticeCheck = document.getElementById("vertice-check");
    verticeCheck.addEventListener('change', (event) => {
    console.log("changeeeeee")
    let select = document.getElementById("vertice-option");
    let value = verticeCheck.value;
    if (value == 1) {
      $('#tops_list').show();
      console.log("hiden")
    } else {
      //select.hidden = true;
      console.log("viz")
      $('#tops_list').hide()
    }

  });
    
 
</script>



<script>
   
</script>
<script>
let global_points = {}
let global_line_array = []
let global_point_array = []
 function return_real_x(x, x_min,x_max)
 {
    console.log("real_x: ",x)
     return Math.round(((x-x_min)/(x_max-x_min))*500)
 }

 function return_real_y(y, y_min,y_max)
 {
     return Math.round(500-(((y-y_min)/(y_max-y_min))*500))
 }

 function rotate(x,y, x_zero,y_zero,deg)
 {
    let sin_cos = [[Math.cos(deg),Math.sin(deg)],[-Math.sin(deg),Math.cos(deg)]];
    console.log("sin_cos", sin_cos)

    let x_y_to_center = [x-x_zero,y-y_zero]

    let zero_cordinate = [x_zero,y_zero]

    let mul_result = [[sin_cos[0][0]*x_y_to_center[0]+sin_cos[0][1]*x_y_to_center[1]],[sin_cos[1][0]*x_y_to_center[0]+sin_cos[1][1]*x_y_to_center[1]]];
    console.log("mul_result",mul_result);
    let result = [zero_cordinate[0]+Number(mul_result[0]),zero_cordinate[1]+Number(mul_result[1])];
    console.log("result", result );
    return result;
 }

 function draw_hexagon(x_center,y_center,x,y)
 {
     let begin_x = x;
     let begin_y = y;
     let point_name = ["A","B","C","D","E","F"]
     let first_point = b.create('point',[x,y], {name:point_name[0],size:4});
     global_point_array.push(first_point);
     global_points[point_name[0]] = [x,y];
     for(let i =0;i<5;i++)
     {
         let x_next;
         let y_next;
         console.log("draw: ",i);
         [x_next,y_next] = rotate(x,y,x_center,y_center,Math.PI/3)
         //console.log("x_next: ",x_next)
         //console.log("y_next: ",y_next)
         global_points[point_name[i+1]] = [x_next,y_next];
         let second_point = b.create('point',[x_next,y_next], {name:point_name[i+1],size:4});
         global_points[point_name[i+1]] = [x_next,y_next];
         global_point_array.push(second_point)
         //global_points.push(second_point);
         //console.log(return_real_x(x,-10,10),return_real_y(y,-10,10),return_real_x(x_next,-10,10),return_real_y(y_next,-10,10))
         //drawLine(context,return_real_x(x,-10,10),return_real_y(y,-10,10),return_real_x(begin_x,-10,10),return_real_y(begin_y,-10,10),"black");
         b.create('line',[point_name[i],point_name[i+1]], {strokeColor:'#00ff00',strokeWidth:2,straightFirst:false, straightLast:false, strokeWidth:2});
         first_point =second_point
      
         //global_line_array.push(line);
         y = y_next;
         x = x_next;
         
     }
    b.create('line',["A","F"], {strokeColor:'#00ff00',strokeWidth:2,straightFirst:false, straightLast:false, strokeWidth:2});
    // global_line_array.push(last_line);
     console.log("global ob: ",global_points);
     //JXG.JSXGraph.freeBoard(b);
     //board = JXG.JSXGraph.initBoard('box', {boundingbox:[-10,-10,10,10], axis:true});
 }

 function rotate_hexagon(x_center,y_center)
 {
    let coef = 1.009
    global_point_array[0].moveTo(rotate( global_points["A"][0]*coef, global_points["A"][1]*coef,x_center,y_center,Math.PI/12),1000)
    global_points["A"] = rotate( global_points["A"][0]*coef, global_points["A"][1]*coef,x_center,y_center,Math.PI/12)
    global_point_array[1].moveTo(rotate( global_points["B"][0]*coef, global_points["B"][1]*coef,x_center,y_center,Math.PI/12),1000)
    global_points["B"] = rotate( global_points["B"][0]*coef, global_points["B"][1]*coef,x_center,y_center,Math.PI/12)
    global_point_array[2].moveTo(rotate( global_points["C"][0]*coef, global_points["C"][1]*coef,x_center,y_center,Math.PI/12),1000)
    global_points["C"] = rotate( global_points["C"][0]*coef, global_points["C"][1]*coef,x_center,y_center,Math.PI/12)
    global_point_array[3].moveTo(rotate( global_points["D"][0]*coef, global_points["D"][1]*coef,x_center,y_center,Math.PI/12),1000)
    global_points["D"] = rotate( global_points["D"][0]*coef, global_points["D"][1]*coef,x_center,y_center,Math.PI/12)
    global_point_array[4].moveTo(rotate( global_points["E"][0]*coef, global_points["E"][1]*coef,x_center,y_center,Math.PI/12),1000)
    global_points["E"] = rotate( global_points["E"][0]*coef, global_points["E"][1]*coef,x_center,y_center,Math.PI/12)
    global_point_array[5].moveTo(rotate( global_points["F"][0]*coef, global_points["F"][1]*coef,x_center,y_center,Math.PI/12),1000)
    global_points["F"] = rotate( global_points["F"][0]*coef, global_points["F"][1]*coef,x_center,y_center,Math.PI/12)
    console.log(global_points)
 }

let draw = {{draw}};
if(draw ===1)
{
    draw_hexagon({{center_x}},{{center_x}},{{top_x}},{{top_y}});

    console.log("check:  ",rotate(0,1,0,0,Math.PI/2));
    let type = {{typee}}
    if(type===0)
    {
        setInterval(rotate_hexagon,1100,{{center_x}},{{center_x}})
    }
    else
    {
        setInterval(rotate_hexagon,1100,global_points["{{top}}"][0],global_points["{{top}}"][1]);
    }
  
}


</script>
<script>
  const max_x = document.getElementById('max_x');
  const max_y = document.getElementById('max_y');
  const center_x = document.getElementById('center_x');
  const center_y = document.getElementById('center_y');
  const top_x = document.getElementById('top_x');
  const top_y = document.getElementById('top_y');
  max_x.style.borderColor="gray"
  max_y.style.borderColor="gray"
  center_x.style.borderColor="gray"
  center_y.style.borderColor="gray"
  top_y.style.borderColor="gray"
  top_x.style.borderColor="gray"
  function showError(element) {
  
    element.textContent = "діапазон допустимих значень від -1000000 до  1000000";
  
    element.className = 'error active';
}
  max_x.addEventListener("input", function (event) {
    console.log("woooorl")
  if ( max_x.validity.valid) {
    max_x.style.borderColor="gray"
    document.querySelector('#max_x + span.error').textContent = ''; 
    //max_x.className = 'error'; 
  } else {
    console.log("eror")
    max_x.style.borderColor="red"
    showError(document.querySelector('#max_x + span.error'));
  }
});

max_y.addEventListener("input", function (event) {
  

  if (max_y.validity.valid) {
    
    document.querySelector('#max_y + span.error').textContent = ''; 
    max_y.style.borderColor="gray"
   // max_y.className = 'error'; 
  } else {
   
    showError(document.querySelector('#max_y + span.error'));
    max_y.style.borderColor="red"
  }
});

center_x.addEventListener("input", function (event) {
  

  if (center_x.validity.valid) {
  
    document.querySelector('#center_x + span.error').textContent = ''; 
    center_x.style.borderColor="gray"
    //center_x.className = 'error'; 
  } else {
   
    showError(document.querySelector('#center_x + span.error'));
    center_x.style.borderColor="red"
  }
});

center_y.addEventListener("input", function (event) {
  
  if (center_y.validity.valid) {
    
    document.querySelector('#center_y + span.error').textContent = ''; 
    center_y.style.borderColor="gray"
    //center_y.className = 'error'; 
  } else {
    
    showError(document.querySelector('#center_y + span.error'));
    center_y.style.borderColor="red"
  }
});

top_x.addEventListener("input", function (event) {

  if (top_x.validity.valid) {
    top_x.style.borderColor="gray"
    document.querySelector('#top_x + span.error').textContent = ''; 
    //top_x.className = 'error'; 
  } else {
  
    showError(document.querySelector('#top_x + span.error'));
    top_x.style.borderColor="red"
  }
});

top_y.addEventListener("input", function (event) {


  if (top_y.validity.valid) {
    top_y.style.borderColor="gray"
    document.querySelector('#top_y + span.error').textContent = ''; 
    //top_y.className = 'error'; 
  } else {
    
    showError(document.querySelector('#top_y + span.error'));
    top_x.style.borderColor="red"
  }
});

</script>
{% endblock %}