{% extends "base.html" %}
{% block content %}
<h1>Фрактали</h1>
<p>
    Басейни Ньютона, фрактали Ньютона — різновид алгебраїчних фракталів.

Області з фрактальними межами з'являються при наближеному знаходженні коренів нелінійного рівняння алгоритмом Ньютона на комплексній площині (для функції дійсної змінної метод Ньютона часто називають методом дотичних, який, у даному випадку, узагальнюється для комплексної площини)[1].

Застосуємо метод Ньютона для знаходження нуля функції комплексного змінного, використовуючи процедуру:
</p>
<img src="formula.svg">
<p >Вибір початкового наближення {\displaystyle z_{0}}{\displaystyle z_{0}} представляє особливий інтерес. Оскільки функція може мати декілька нулів, в різних випадках метод може сходитися до різних значень.</p>

{% endblock %}